*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
}
.containerMain{
    padding-top: 120px;
    display: flex;
    justify-content: center;
}
.containerFlexPhone img{
    width: 468px;
    height: 634px;
}
.group .loginWithFacebook{
    color: #385185;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.group #signin{
    color: #0597F2;
}
.group{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    align-items: center;
    margin: 0 auto;
    padding: 20px 30px 20px 30px;
    background-color: #ffffff;
    margin-bottom: 15px;
}

.group .lines{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}

.group .lines #line{
    width: 90px;
    height: 1px;
    background: rgb(153, 153, 153);
}
.group .lines p{
    color: #8e8e8e;
    padding: 0px 15px;
}
.group input{
    padding-left: 10px;
    font-size: 11px;
    margin: 2px;
    height: 35px;
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
}
.group a{
    text-decoration: none;
    font-size: 13px;
    color: #00376b;
}
.group .sign{
    padding: 8px;
    margin-top: 10px;
    background-color: #0597F2;
    color: #F2F2F2;
    width: 100%;
    border-radius: 8px;
    border-style: none;
}
.group .instagramLogo{
    width: 160px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.containerMain .download img{
    width: 150px;
}

.containerLogin .download p{
    padding: 20px 20px;
    text-align: center;
}

footer{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 150px;
    font-size: 12px;
    color: #8e8e8e;
}
footer div{
    padding: 4px;
}
footer p{
    display: inline;
    margin: 0px 5px;
}
footer .lastRow{
    padding-top: 20px;
}
